<h1>Eat-Dat-Burger!</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center enter_section">
      <form action="/burgers/create" method="POST">
        <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
      </form>
      <p>Enter your dream burger and click the <strong>Submit</strong> button.</p>
    </div>
  </div>
</div>