


<div class="container text-center mt-5">
  <h1>Eat-Dat-Burger!</h1>

<img src="assets/images/burger.png" alt="burger" width="400px">

      <p class="pt-4">Enter a description of your dream burger and click the <strong>Submit</strong> button.</p>
      <form class="container p-4">
        <input type="text" class="form-control w-25 mx-auto" name="burger_name" value="" id="enter_text">
        <button type="submit" class="btn btn-primary mt-4" id="text-enter-button">Submit</button>
      </form>


</div>