


<div class="container text-center mt-5">
  <h1>Eat-Dat-Burger!</h1>


      <p class="p-4">Enter your dream burger and click the <strong>Submit</strong> button.</p>
      <form class="container w-13 p-4">
        <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
        <button type="submit" class="btn btn-primary mt-4" id="text-enter-button">Submit</button>
      </form>


</div>